body {
    margin: 0;
    overflow: hidden;
}

#camera-coordinates {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
    font-family: Arial, sans-serif;
}

#rightCol {
    height: 100vh;
}

#leftCol div{
    /* margin: 5px; */
}

ul {
    list-style-type: none;
}
li {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}


@media only screen and (max-width: 767px) {
    ul {
        column-count: 2;
    }
    #rightCol {
        height: 70vh;
    }
  }