body {
    margin: 0;
    overflow: hidden;
}

#camera-coordinates {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
    font-family: Arial, sans-serif;
}

ul {
    list-style-type: none;
}
li {
    padding: 5px 0;
}